.adviceSection {
  background-color: hsl(217, 19%, 24%);
  max-width: 540px;
  height: 340px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  box-sizing: border-box;
  border-radius: 15px; 
}

.adviceId {
    color: hsl(150, 100%, 66%);
    font-size: 11px;
}
.adviceContent {
    color: hsl(193, 38%, 86%);
    font-size: 28px;
    line-height: 40px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

}

.desktopDivider{
    margin-top: 50px;
  }

@media screen and (min-width: 320px) {

    .adviceId{
        margin-top: 35px ;
    }
    .adviceContent{
        padding: 20px;
        margin: auto;
    }
}

