.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-family: "GellaDisplay";
    color: #50400e;
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

header h1 {
    font-size: 32px;
}


