.form {
  max-width: 1200px;
  margin: auto;
  padding: 30px;
  font-family: "Involve Regular";
  background-color: #eeddef;
  border-radius: 5px;
  text-align: center;
  color: #666;
}
.nameInput {
  max-width: 1200px;
  width: 100%;
}
.questionInput {
  max-width: 1200px;
  width: 100%;
  min-height: 150px;
}
