.footer {
  background-color: #90a070;
  font-family: "Rubik Mono One", monospace;
  color: #e4bbc5;
  padding: 20px 0;
  text-align: center;
  height: auto;
}

.submit {
  display: inline-block;
  color: #f6c4d0;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  border: none;
  background-color: #90a07000;
  cursor: pointer;
  &:hover {
    color: #f9e0e6;
  }
}
